<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- plus pour du web -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
     
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    <span class="headerTitle">HEADER MATERIAL</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<ion-content padding>
  <mat-form-field>
    <mat-select placeholder="liste de selection">
      <mat-option value="none">None</mat-option>
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</ion-content>
